extends layout

block content
	- var item = doctor
	- var usersJade = users
	- var tipsJade = tips
	br
	br
	h3(style='text-align: center')= item.name
	div.row(style = 'text-align: center')
		div.twelve.columns
			=item.categories
	br
	div.row(style="text-align: center")
		img(src='/images/doctor.jpg')
	br
	div.row
		div.column.three(style="color: green; font-weight: bold;")
			if (item.open)
				| Open
			else
				| Closed
		div.column.three
			if (item.attributes["By Appointment Only"])
				| By Appointment Only
	br
	div.row(style="text-align: center")
		div.column.three
			=item.city+','+ item.state
	div.row(style="text-align: center")
		div.column.four
			="Full Address: "+item.full_address

	br
	br

	h4(style = 'text-align: center; opacity: .5') Reviews
	each user,i in usersJade
		each tip,j in tipsJade 
			if i === j
				div.row
					div.four.columns
						p #{user.name} 
					div.four.columns
						p #{tip.text}
					div.four.columns(style = 'color:black')
						h4 &#10029&#10029&#10029